body{
  background-color : #d3f2f1;
  font-family: "Montserrat";
}

#ces
{
  font-family: "Montserrat";
  text-align: center;
  font-size: 70px;
  background-color: #3BACB6;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 50px;
  font-weight: bold;
  margin-bottom: 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.adform{
  font-family: "Montserrat";
  margin: auto;
  text-align: center;
  background-color: white;
  width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.tinp
{
  margin-right: 325px;
  font-size: 23px;
}

.info{
  text-align: center;
  color: red;
  margin-top: 10px;
}

h3{
  background-color: #3BACB6;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: white;
  border-radius: 10px 10px 0px 0px;
}

.uname, .upass{
  width: 80%;
  font-size: 20px;
}

.btn{
  width: 20%;
  margin-bottom: 30px;
  text-align: center;
}

.navbar{
  background-color: #2698a3;
}

.footer{
  text-align: center;
  font-family: "Montserrat";
  font-weight: 300;
  margin-top: 30px;
  color: grey;
}

#fhj
{
  font-weight:600;
}
